{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="faq-section page-width section-{{ section.id }}-padding">
    {%- if section.settings.title != blank -%}
      <div class="faq-section__header" style="text-align: {{ section.settings.heading_alignment }};">
        <h2 class="faq-section__heading {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endif -%}

    <div class="faq-section__items">
      {%- for block in section.blocks -%}
        <div class="accordion" {{ block.shopify_attributes }}>
          <details
            id="Details-{{ block.id }}-{{ section.id }}"
            {% if section.settings.open_first_item and forloop.first %}
              open
            {% endif %}
          >
            <summary id="Summary-{{ block.id }}-{{ section.id }}">
              {% render 'icon-accordion', icon: block.settings.icon %}
              <h3 class="accordion__title inline-richtext h4">
                {{ block.settings.question }}
              </h3>
              {% render 'icon-caret' %}
            </summary>
            <div
              class="accordion__content rte"
              id="FaqAccordion-{{ block.id }}-{{ section.id }}"
              role="region"
              aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
            >
              {{ block.settings.answer }}
            </div>
          </details>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.faq.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.faq.settings.title.label",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.faq.settings.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.faq.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.faq.settings.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.faq.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "open_first_item",
      "default": false,
      "label": "t:sections.faq.settings.open_first_item.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "t:sections.faq.blocks.faq_item.name",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "default": "Question",
          "label": "t:sections.faq.blocks.faq_item.settings.question.label"
        },
        {
          "type": "richtext",
          "id": "answer",
          "default": "<p>Answer</p>",
          "label": "t:sections.faq.blocks.faq_item.settings.answer.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.faq.blocks.faq_item.settings.icon.options__1.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.faq.blocks.faq_item.settings.icon.options__2.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.faq.blocks.faq_item.settings.icon.options__3.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.faq.blocks.faq_item.settings.icon.options__4.label"
            }
          ],
          "default": "question_mark",
          "label": "t:sections.faq.blocks.faq_item.settings.icon.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.presets.name",
      "blocks": [
        {
          "type": "faq_item"
        },
        {
          "type": "faq_item"
        },
        {
          "type": "faq_item"
        }
      ]
    }
  ]
}
{% endschema %}
